In [18]:
import pandas as pd
import numpy as np
score_df = pd.DataFrame([[1,50,80,70,'boy',1],[2,60,45,50,'boy',2],[3,98,43,55,'boy',1],[4,70,69,89,'boy',2],[5,56,79,60,'girl',1],[6,60,68,55,'girl',2],[7,45,70,77,'girl',1],[8,55,77,76,'girl',2],[9,25,57,60,'girl',1],[10,88,40,43,'girl',3],[11,25,60,45,'boy',3],[12,80,60,23,'boy',3],[13,20,90,66,'girl',3],[14,50,50,50,'girl',3],[15,89,67,77,'girl',3]],columns=['student_id','math_score','english_score','chinese_score','sex','class'])
print(score_df)
#將索引(index)依序改為sex、class、student_id，欄位依序改成chinese_score、english_score、math_score
score_df = score_df.set_index(['sex', 'class', 'student_id']).sort_values(['sex', 'class', 'student_id'])
print(score_df)

    student_id  math_score  english_score  chinese_score   sex  class
0            1          50             80             70   boy      1
1            2          60             45             50   boy      2
2            3          98             43             55   boy      1
3            4          70             69             89   boy      2
4            5          56             79             60  girl      1
5            6          60             68             55  girl      2
6            7          45             70             77  girl      1
7            8          55             77             76  girl      2
8            9          25             57             60  girl      1
9           10          88             40             43  girl      3
10          11          25             60             45   boy      3
11          12          80             60             23   boy      3
12          13          20             90             66  girl      3
13          14          50             50             50  girl      3
14          15          89             67             77  girl      3
                       math_score  english_score  chinese_score
sex  class student_id
boy  1     1                   50             80             70
           3                   98             43             55
     2     2                   60             45             50
           4                   70             69             89
     3     11                  25             60             45
           12                  80             60             23
girl 1     5                   56             79             60
           7                   45             70             77
           9                   25             57             60
     2     6                   60             68             55
           8                   55             77             76
     3     10                  88             40             43
           13                  20             90             66
           14                  50             50             50
           15                  89             67             77